<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="~{fragments/initHeader :: initHeader}">initHeader</div>
    <title>Owned</title>
</head>

<body>

<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container justify-content-center">
    <div class="row justify-content-md-center">
        <h1 th:text="|Wishlist for ${currentUser.name}|"></h1>
    </div>
    <div class="row justify-content-md-center">
        <h2>Movies</h2>
        <div th:if="${#lists.isEmpty(movies)}">
            <span>you don't own any movies yet</span>
        </div>
        <div th:unless="${#lists.isEmpty(movies)}">
            <div class="col-md-12">
                <div class="row">
                    <div th:each="movie : ${movies}" class="card hoverable">
                        <a th:href="@{|/moviedetails/${movie.id}|}" >
                            <div class="card-body overview-card">
                                <img class="card-img-top" th:src="@{|/img/${movie.title}.jpg|}" alt="Card image cap">
                                <h5 class="card-title" th:text="${movie.title}"></h5>
                                <div sec:authorize="isAuthenticated()">
                                    <form th:action="@{|/enduser/wishlist/movie/${movie.id}|}" method="post">
                                        <button type="submit" class="btn btn-primary" th:if="${movie.getEndUsersWishlist().contains(currentUser)}">
                                            <i class="bi bi-heart-fill"></i>
                                        </button>
                                        <button type="submit" class="btn btn-primary" th:unless="${movie.getEndUsersWishlist().contains(currentUser)}">
                                            <i class="bi bi-heart"></i>
                                        </button>
                                    </form>
                                    <form th:action="@{|/enduser/ownedlist/movie/${movie.id}|}" method="post">
                                        <button type="submit" class="btn btn-primary" th:if="${movie.getEndUsersOwned().contains(currentUser)}">
                                            <i class="bi bi-cart-fill"></i>
                                        </button>
                                        <button type="submit" class="btn btn-primary" th:unless="${movie.getEndUsersOwned().contains(currentUser)}">
                                            <i class="bi bi-cart"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <h2>Books</h2>
        <div th:if="${#lists.isEmpty(books)}">
            <span>you don't own any books yet</span>
        </div>
        <div th:unless="${#lists.isEmpty(books)}">
            <div class="col-md-12">
                <div class="row">
                    <div th:each="book : ${books}" class="card hoverable">
                        <a th:href="@{|/bookdetails/${book.id}|}" >
                            <div class="card-body overview-card">
                                <img class="card-img-top" th:src="@{|/img/${book.title}.jpg|}" alt="Card image cap">
                                <h5 class="card-title" th:text="${book.title}"></h5>
                                <div sec:authorize="isAuthenticated()">
                                    <form th:action="@{|/enduser/ownedlist/book/${book.id}|}" method="post">
                                        <button type="submit" class="btn btn-primary" th:if="${book.getEndUsersWishlist().contains(currentUser)}">
                                            <i class="bi bi-heart-fill"></i>
                                        </button>
                                        <button type="submit" class="btn btn-primary" th:unless="${book.getEndUsersWishlist().contains(currentUser)}">
                                            <i class="bi bi-heart"></i>
                                        </button>
                                    </form>
                                    <form th:action="@{|/enduser/ownedlist/book/${book.id}|}" method="post">
                                        <button type="submit" class="btn btn-primary" th:if="${book.getEndUsersOwned().contains(currentUser)}">
                                            <i class="bi bi-cart-fill"></i>
                                        </button>
                                        <button type="submit" class="btn btn-primary" th:unless="${book.getEndUsersOwned().contains(currentUser)}">
                                            <i class="bi bi-cart"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}">Footer</div>
</body>
</html>