<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/initHeader :: initHeader}">initHeader</div>
    <title>Movie Edit</title>
</head>

<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container text-center">
    <div class="row">
        <div class="col-md-10 mx-auto" th:if="${book}" th:object="${book}">
            <form th:action="@{|/admin/bookedit/*{id}|}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12 m-3 moviedetails">
                        <label for="movieTitle">Title of book:</label>
                        <input type="text" id="movieTitle" th:field="*{title}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 m-3">
                        <div class="row">
                            <div class="col-md-3 moviedetails">
                                <img class="card-img-top moviePicture" th:src="@{${book.imageUrl}}" alt="Card image cap">
                                <label for="image">New image:</label>
                                <input type="file" id="image" accept="image/*" name="image">
                            </div>
                            <div class="col-md-6">
                                <div class="movieDetailCenter">
                                    <div class="mb-3">
                                        <label for="movieYOR">Year of release:</label>
                                        <input type="text" class="form-control" id="movieYOR" th:field="*{yearOfRelease}">
                                    </div>
                                    <div class=" mb-3">
                                        <label for="author" class="filterwidth">author:</label>
                                        <select multiple name="author" id="author" class="filterwidth" th:field="*{authors}">
                                            <option  th:value="null" th:text="Any" th:selected="${allAuthors eq null}">
                                            </option>
                                            <option th:each="item : ${allAuthors}" th:value="${item.id}" th:text="${item.name}" th:selected="${book.authors.contains(item)}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="movieDescription">Description: </label>
                                        <textarea type="text" class="form-control" id="movieDescription" th:field="*{description}"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 moviedetails align-items-center">
                                <button type="submit" class="btn btn-primary detailsButton">
                                    <i class="bi bi-check-circle"></i></i> Save
                                </button>
                                <br>
                                <a class="btn btn-primary detailsButton" th:href="@{|/bookdetails/*{id}|}">
                                    <i class="bi bi-x-circle"></i> Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}">Footer</div>
</body>
</html>