<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/initHeader :: initHeader}">initHeader</div>
    <title>Movie Edit</title>
</head>

<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container text-center">
    <div class="row">
        <div class="col-md-10 mx-auto" th:if="${movie}" th:object="${movie}">
            <form th:action="@{|/admin/movienew|}" method="post" enctype="multipart/form-data">
                <div class="error" th:if="${#fields.hasErrors('*')}">ERROR - data is not saved</div>
                <div class="row">
                    <div class="col-md-12 m-3 detailsBlock">
                        <label for="movieTitle" class="formLabel">Title of movie:</label>
                        <input type="text" id="movieTitle" th:field="*{title}" th:errorclass="fieldError">
                        <span class="fieldErrorMessage" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 m-3 detailsBlock">
                        <label for="movieLink" class="formLabel">Unique Youtube id of the trailer:</label>
                        <input type="text" id="movieLink" th:field="*{trailerLink}" th:errorclass="fieldError">
                        <span class="fieldErrorMessage" th:if="${#fields.hasErrors('trailerLink')}" th:errors="*{trailerLink}"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 m-3">
                        <div class="row">
                            <div class="col-md-3 detailsButtonBlock">
                                <div class="detailsButtonSubBlock">
                                    <label for="image" class="formLabel">Upload image: </label>
                                    <input type="file" id="image" accept="image/*" name="image">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="DetailsInfo">
                                    <div class="mb-3">
                                        <label for="movieYOR" class="formLabel">Year of release: </label>
                                        <input type="number" th:min="1850", th:max="9999" class="form-control" id="movieYOR" th:field="*{yearOfRelease}" th:errorclass="fieldError">
                                        <p class="fieldErrorMessage" th:if="${#fields.hasErrors('yearOfRelease')}" th:errors="*{yearOfRelease}"></p>
                                    </div>
                                    <div class=" mb-3">
                                        <label for="producer" class="formLabel">Producer: </label>
                                        <select multiple name="producer" id="producer" class="filter" th:field="*{producers}" th:errorclass="fieldError">
                                           <option th:each="item : ${allProducers}" th:value="${item.id}" th:text="${item.name}">
                                            </option>
                                        </select>
                                        <p class="fieldErrorMessage" th:if="${#fields.hasErrors('producers')}" th:errors="*{producers}"></p>
                                    </div>
                                    <div class="mb-3">
                                        <label for="productionCompany" class="formLabel">Production company: </label>
                                        <select multiple name="productionCompany" id="productionCompany" class="filter" th:field="*{productionCompanies}" th:errorclass="fieldError">
                                            <option th:each="item : ${allProductionCompanies}" th:value="${item.id}" th:text="${item.name}">
                                            </option>
                                        </select>
                                        <p class="fieldErrorMessage" th:if="${#fields.hasErrors('productionCompanies')}" th:errors="*{productionCompanies}"></p>
                                    </div>
                                    <div class="mb-3">
                                        <label for="actors" class="formLabel">Main actors:</label>
                                        <select multiple name="actors" id="actors" class="filter" th:field="*{actors}" th:errorclass="fieldError">
                                            <option th:each="item : ${allActors}" th:value="${item.id}" th:text="${item.name}">
                                            </option>
                                        </select>
                                        <p class="fieldErrorMessage" th:if="${#fields.hasErrors('actors')}" th:errors="*{actors}"></p>
                                    </div>
                                    <div class="mb-3">
                                        <label for="genre" class="formLabel">Genre:</label>
                                        <select multiple name="genre" id="genre" class="filter" th:field="*{genres}" th:errorclass="fieldError">
                                            <option th:each="item : ${allGenres}" th:value="${item.id}" th:text="${item.name}">
                                            </option>
                                        </select>
                                        <p class="fieldErrorMessage" th:if="${#fields.hasErrors('genres')}" th:errors="*{genres}"></p>
                                    </div>
                                    <div class="mb-3">
                                        <label for="movieDescription" class="formLabel">Description: </label>
                                        <textarea type="text" class="form-control" id="movieDescription" th:field="*{description}" th:errorclass="fieldError"></textarea>
                                        <p class="fieldErrorMessage" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                                    </div>
                                    <div class="mb-3">
                                        <label for="movieIMDB" class="formLabel">IMDB-id: </label>
                                        <input type="text" class="form-control" id="movieIMDB" th:field="*{imdb}" th:errorclass="fieldError">
                                        <p class="fieldErrorMessage" th:if="${#fields.hasErrors('imdb')}" th:errors="*{imdb}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 detailsButtonBlock align-items-center">
                                <div class="detailsButtonSubBlock">
                                    <button type="submit" class="detailsButton">
                                        <i class="bi bi-check-circle"></i> Save
                                    </button>
                                </div>
                                <div class="detailsButtonSubBlock">
                                    <a class="detailsButton" th:href="@{|/movielist|}">
                                        <button class="detailsButton">
                                            <i class="bi bi-x-circle"></i> Cancel
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}">Footer</div>
</body>
</html>