<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/initHeader :: initHeader}">initHeader</div>
    <title>Movie Edit</title>
</head>

<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container text-center">
    <div class="row">
        <div class="col-md-10 mx-auto" th:if="${movie}" th:object="${movie}">
            <form th:action="@{|/admin/movieedit/*{id}|}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12 m-3 detailsBlock">
                        <label for="movieTitle">Title of movie:</label>
                        <input type="text" id="movieTitle" th:field="*{title}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 m-3 detailsBlock">
                        <label for="movieLink">Unique Youtube id of the trailer:</label>
                        <input type="text" id="movieLink" th:field="*{trailerLink}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 m-3">
                        <div class="row">
                            <div class="col-md-3 detailsButtonBlock">
                                <div class="detailsButtonSubBlock">
                                    <img class="detailsPicture" th:src="@{*{imageUrl}}">
                                </div>
                                <div class="detailsButtonSubBlock">
                                    <label for="image">New image:</label>
                                    <input type="file" id="image" accept="image/*" name="image">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="DetailsInfo">
                                    <div class="mb-3">
                                        <label for="movieYOR">Year of release:</label>
                                        <input type="text" class="form-control" id="movieYOR" th:field="*{yearOfRelease}">
                                    </div>
                                    <div class=" mb-3">
                                        <label for="producer" class="filterwidth">producer:</label>
                                        <select multiple name="producer" id="producer" class="filterwidth" th:field="*{producers}">
                                            <option  th:value="null" th:text="Any" th:selected="${allProducers eq null}">
                                            </option>
                                            <option th:each="item : ${allProducers}" th:value="${item.id}" th:text="${item.name}" th:selected="${movie.producers.contains(item)}">
                                            </option>
                                        </select>
                                    </div><br>
                                    <div class="mb-3">
                                        <label for="productionCompany" class="filterwidth">production company:</label>
                                        <select multiple name="productionCompany" id="productionCompany" class="filterwidth" th:field="*{productionCompanies}">
                                            <option  th:value="null" th:text="Any" th:selected="${allProductionCompanies eq null}"></option>
                                            <option th:each="item : ${allProductionCompanies}" th:value="${item.id}" th:text="${item.name}"  th:selected="${movie.productionCompanies.contains(item)}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="actors" class="filterwidth">production company:</label>
                                        <select multiple name="actors" id="actors" class="filterwidth" th:field="*{actors}">
                                            <option  th:value="null" th:text="Any" th:selected="${allProductionCompanies eq null}"></option>
                                            <option th:each="item : ${allProductionCompanies}" th:value="${item.id}" th:text="${item.name}"  th:selected="${movie.productionCompanies.contains(item)}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="movieDescription">Description: </label>
                                        <textarea type="text" class="form-control" id="movieDescription" th:field="*{description}"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="movieIMDB">IMDB-id: </label>
                                        <input type="text" class="form-control" id="movieIMDB" th:field="*{imdb}">
                                    </div>
                                 </div>
                            </div>
                            <div class="col-md-3 detailsButtonBlock">
                                <div class="detailsButtonSubBlock">
                                    <button type="submit" class="detailsButton">
                                        <i class="bi bi-check-circle"></i> Save
                                    </button>
                                </div>
                                <div class="detailsButtonSubBlock">
                                    <a class="detailsButton" th:href="@{|/moviedetails/*{id}|}">
                                        <button class="detailsButton">
                                            <i class="bi bi-x-circle"></i> Cancel
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}">Footer</div>
</body>
</html>