<!DOCTYPE html>
<html lang="en">
<head>
  <div th:replace="~{fragments/initHeader :: initHeader}">initHeader</div>
</head>

<body>

  <div th:replace="~{fragments/header :: header}">Header</div>

  <div class="container text-center">
    <div class="col-md-10 mx-auto">
      <form th:action="@{/user/login}" method="post">
        <div class="row g-2">
          <div class="input-group col-md">
            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            <div class="form-floating">
              <input type="text" class="form-control" id="name", name="username" placeholder="your name">
              <label for="name">Name</label>
            </div>
          </div>
        </div>

        <div class="row g-2">
          <div class="input-group col-md">
            <span class="input-group-text"><i class="bi bi-asterisk"></i></span>
            <div class="form-floating">
              <input type="password" class="form-control" id="password", name="password" placeholder="your password">
              <label for="password">Password</label>
            </div>
          </div>
        </div>

        <div class="row g-2">
          <input type="submit" value="login"/>
        </div>
      </form>
      <div class="row g-2">
        <div class="col-md">
          <a href="/user/signup"><button>Sign up</button></a>
        </div>
        <div class="col-md">
          <a href="/home"><button>Cancel</button></a>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="~{fragments/footer :: footer}">Footer</div>

</body>
</html>