<!DOCTYPE html>
<html lang="en">
<head>
  <div th:replace="~{fragments/initHeader :: initHeader}">initHeader</div>
</head>

<body>

  <div th:replace="~{fragments/header :: header}">Header</div>

  <div class="container text-center">
    <div class="col-md-6 mx-auto">
      <h1>Login to continue</h1>
      <form th:action="@{/user/login}" method="post">
        <div class="row g-2 loginInputRow">
          <div class="input-group col-md">
            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            <div class="form-floating">
              <input type="text" class="form-control" id="name", name="username" placeholder="your name">
              <label for="name">Name</label>
            </div>
          </div>
        </div>

        <div class="row g-2 loginInputRow">
          <div class="input-group col-md">
            <span class="input-group-text"><i class="bi bi-asterisk"></i></span>
            <div class="form-floating">
              <input type="password" class="form-control" id="password", name="password" placeholder="your password">
              <label for="password">Password</label>
            </div>
          </div>
        </div>

        <div class="row g-2 loginButtonRow">
          <a href="/home" class="col-md-3 loginButton">Cancel</a>
          <input type="submit" value="Login" class="col-md-3 loginButton">
          <a href="/user/signup" class="col-md-5 loginButton">Don't have an account yet?<br>Sign up here! </a>
        </div>
      </form>
    </div>
  </div>

  <div th:replace="~{fragments/footer :: footer}">Footer</div>

</body>
</html>