<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/initHeader :: initHeader}">initHeader</div>
</head>

<body>

<div th:replace="~{fragments/header :: header}">Header</div>

<div class="container text-center">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form th:action="@{/user/logout}" method="post">
                <div class="row"> <h1>Confirm logout</h1> </div>
                <div class="row"> <input type="submit" value="logout"/> </div>
                <div class="row"> <a href="/home">cancel</a> </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}">Footer</div>

</body>
</html>