<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:replace="~{fragments/initHeader :: initHeader}">initHeader</div>
  </head>

  <body>
    <div th:replace="~{fragments/header :: header}">Header</div>

    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="middle-box text-center">
            <h1>Sign up</h1>
            <form th:action="@{/user/signup}" method="post" >
              <div class="row g-2 loginInputRow">
                <div class="input-group col-md">
                  <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="name", name="name" placeholder="your name">
                    <label for="name">Name</label>
                  </div>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="username" name="username" placeholder="your username">
                    <label for="username">Username</label>
                  </div>
                </div>
              </div>

              <div class="row g-2 loginInputRow">
                <div class="input-group col-md">
                  <span class="input-group-text"><i class="bi bi-asterisk"></i></span>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="password1", name="password1" placeholder="your password">
                    <label for="password1">Password</label>
                  </div>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="password2" name="password2" placeholder="Confirm password">
                    <label for="password2">Confirm password</label>
                  </div>
                </div>
              </div>

              <div class="row g-2 loginButtonRow">
                <a href="/home" class="col-md-3 loginButton">Cancel</a>
                <input type="submit" value="Sign up & log in" class="col-md-3 loginButton">
                <a href="/user/login" class="col-md-5 loginButton">Already have an account?<br> Log in here! </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}">Footer</div>
  </body>
</html>