<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head/>
    <body>
        <div th:each="movie : ${movies}" class="card hoverable" th:fragment="movieCardsNotCentered">
            <a th:href="@{|/moviedetails/${movie.getId()}|}" th:fragment="movieCards">
                <div class="card-background" th:style="'background-image: url(' + ${movie.getImageUrl()} + ')'">
                    <div class="card-buttons" sec:authorize="isAuthenticated()">
                        <form th:action="@{|/enduser/wishlist/movie/${movie.getId()}|}" method="post">
                            <button type="submit" class="btn btn-primary top-left" th:if="${movie.getEndUsersWishlist().contains(currentUser)}">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="submit" class="btn btn-primary top-left" th:unless="${movie.getEndUsersWishlist().contains(currentUser)}">
                                <i class="bi bi-heart"></i>
                            </button>
                        </form>
                        <form th:action="@{|/enduser/ownedlist/movie/${movie.getId()}|}" method="post">
                            <button type="submit" class="btn btn-primary top-right" th:if="${movie.getEndUsersOwned().contains(currentUser)}">
                                <i class="bi bi-cart-fill"></i>
                            </button>
                            <button type="submit" class="btn btn-primary top-right" th:unless="${movie.getEndUsersOwned().contains(currentUser)}">
                                <i class="bi bi-cart"></i>
                            </button>
                        </form>
                    </div>
                    <div class="card-body">
                        <h5 th:text="${movie.getTitle()}"></h5>
                    </div>
                </div>
            </a>
        </div>

        <div th:each="movie : ${movies}" class="card hoverable justify-content-center" th:fragment="movieCardsCentered">
            <div th:replace="~{fragments/cards :: movieCards}">movieCards</div>
        </div>

        <div th:each="book : ${books}" class="card hoverable" th:fragment="bookCardsNotCentered">
            <a th:href="@{|/bookdetails/${book.getId()}|}" th:fragment="bookCards">
                <div class="card-background" th:style="'background-image: url(' + ${book.getImageUrl()} + ')'">
                    <div class="card-buttons" sec:authorize="isAuthenticated()">
                        <form th:action="@{|/enduser/wishlist/book/${book.getId()}|}" method="post">
                            <button type="submit" class="btn btn-primary top-left" th:if="${book.getEndUsersWishlist().contains(currentUser)}">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="submit" class="btn btn-primary top-left" th:unless="${book.getEndUsersWishlist().contains(currentUser)}">
                                <i class="bi bi-heart"></i>
                            </button>
                        </form>
                        <form th:action="@{|/enduser/ownedlist/book/${book.getId()}|}" method="post">
                            <button type="submit" class="btn btn-primary top-right" th:if="${book.getEndUsersOwned().contains(currentUser)}">
                                <i class="bi bi-cart-fill"></i>
                            </button>
                            <button type="submit" class="btn btn-primary top-right" th:unless="${book.getEndUsersOwned().contains(currentUser)}">
                                <i class="bi bi-cart"></i>
                            </button>
                        </form>
                    </div>
                    <div class="card-body">
                        <h5 th:text="${book.getTitle()}"></h5>
                    </div>
                </div>
            </a>
        </div>

        <div th:each="book : ${books}" class="card hoverable justify-content-center" th:fragment="bookCardsCentered">
            <div th:replace="~{fragments/cards :: bookCards}">BookCards</div>
        </div>

    </body>
</html>