<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head/>
<body>
<div class="cover-container justify-content-md-center" th:fragment="header">
    <div class="cover-picture"></div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <div class="appname d-flex justify-content-start">
                    <a class="navbar-brand" th:href="@{/home}">
                        <i class="fa fa-book-open-reader"></i> Media-Library
                    </a>
                </div>

                <button class="navbar-toggler dark justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars fa-2xl"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/home}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/movielist}">Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/booklist}">Books</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" th:href="@{/enduser/wishlist}">Wishlist</a></li>
                                <li><a class="dropdown-item" th:href="@{/enduser/ownedlist}">Already bought</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/user/login}">Login</a>
                            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</div>

</body>
</html>