html{
    margin: 20px;
    font-family: "Arial Black";
}

.cover-picture {
    background-image: url('../img/Books.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
}

nav{
    content-align: center;
    margin-bottom: 20px;
    margin-top: -70px;
}
.navbar{
    padding-left: 20px;
}
.navbar-brand{
    font-size: xxx-large;
    font-weight: bold;
    color: black;
    background-color: white;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 10px;
}
.navbar-brand:hover {
    color: black;
    background-color: #007bff;
}
.nav-link, .navbar-toggler-icon{
    font-size: x-large;
    font-weight: bold;
    color: black;
}
.nav-item{
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
}

.nav-item:hover, .nav-link:hover, .navbar-toggler:hover{
    color: black;
    background-color: #007bff;
}
.navbar-toggler, .navbar-toggler.a{
    padding: 15px 15px;
    border-radius: 10px;
    background-color: white;
}


.footer{
    text-align: center;
    background-color: slategrey;
    color: black;
    margin-top: 20px;
}
.error{
    text-align: center;
    color: black;
}

.submitbutton{
    margin-top: 20px;
}
.icon{
    width: 20px;
    height: 20px;
}
.card{
    margin-top: 20px;
    background-color: darkgrey;
}
.card-title{
    text-align: center;
}
.scrollable-container {
     overflow-x: auto;
 }

.scrollable-cards {
    display: inline-flex;
    padding: 10px;
    white-space: nowrap;
}

.card {
    width: 200px;
    margin-right: 10px;
    white-space: normal;
}
.hoverable:hover{
    background-color: #007bff;
}

.card a, .card h5{
    text-decoration: none;
    color: black;
}
.card-img-top{
     height:200px;
 }
.moviePicture{
    height:300px;
    image-resolution: normal;
}

.moviedetails{
    border-radius: 10px;
    background-color: darkgrey;
    padding: 15px;
}
.movieDetailCenter{
    padding: 15px;
    margin: 0px 30px;
    border-radius: 10px;
    background-color: darkgrey;
    height: 100%;
}
.detailsButton{
    width: 100%;
    height: 50px;

}
.overview-card {
    height: 350px;
}
.hidden{
    visibility: hidden;
}
.allFilters{
    padding-bottom: 10px;
    padding-top: 5px;
    background-color: #007bff;
}

.filterwidth{
    width: 100%;
}
.appname{width: 50%; text-align: center;}

@media (max-width: 767px) {
    /* Apply styles only for screens smaller than 768px */
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar-brand {
        flex-grow: 1;
    }
}
