.card {
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    white-space: normal;
    padding: 0px;
}

.card-background {
    position: relative;
    overflow: hidden;
    height: 450px; /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
}

.card-buttons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.card-buttons button {
    position: absolute;
}

.top-left {
    top: 10px;
    left: 10px;
}

.top-right {
    top: 10px;
    right: 10px;
}

.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    background: rgba(0, 123, 255, 0.7); /* Adjust background color and opacity as needed */
    color: white; /* Adjust text color as needed */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}






html{
    font-family: "Arial Black";
}

.cover-picture {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/medialibrary-407109.appspot.com/o/Books.jpg?alt=media&token=65791b79-0421-4f85-9666-3610614888c2');
    background-size: cover;
    background-position: center;
    height: 150px;
}

nav{
    content-align: center;
    margin-bottom: 20px;
    margin-top: -70px;
}
.navbar{
    padding-left: 20px;
}
.navbar-brand{
    font-size: xxx-large;
    font-weight: bold;
    color: black;
    background-color: white;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 10px;
}
.navbar-brand:hover {
    color: black;
    background-color: #007bff;
}
.nav-link, .navbar-toggler-icon{
    font-size: x-large;
    font-weight: bold;
    color: black;
}
.nav-item{
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
}

.nav-item:hover, .nav-link:hover, .navbar-toggler:hover{
    color: black;
    background-color: #007bff;
}
.navbar-toggler, .navbar-toggler.a{
    padding: 15px 15px;
    border-radius: 10px;
    background-color: white;
}


.footer{
    text-align: center;
    background-color: #007bff;
    color: black;
    margin-top: 20px;
}
.error{
    text-align: center;
    color: black;
}

.fieldError, input.fieldError, select.input.fieldError{
    border: red 3px solid;
}

.fieldErrorMessage{
    color: red;
}

.submitbutton{
    margin-top: 20px;
}
.icon{
    width: 20px;
    height: 20px;
}

.scrollable-container {
     overflow-x: auto;
 }

.scrollable-cards {
    display: inline-flex;
    white-space: nowrap;
}

.hoverable:hover{
    border: #007bff solid 3px;
}
.moviePicture{
    height:300px;
    image-resolution: normal;
}

.moviedetails{
    border-radius: 10px;
    background-color: darkgrey;
    padding: 15px;
}
.movieDetailCenter{
    padding: 15px;
    margin: 0px 30px;
    border-radius: 10px;
    background-color: darkgrey;
    height: 100%;
}
.detailsButton{
    width: 100%;
    height: 50px;

}

.hidden{
    visibility: hidden;
}
.allFilters{
    padding-bottom: 10px;
    padding-top: 5px;
    background-color: #007bff;
}

.filterwidth{
    width: 100%;
}
.appname{width: 50%; text-align: center;}

@media (max-width: 767px) {
    /* Apply styles only for screens smaller than 768px */
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar-brand {
        flex-grow: 1;
    }
}
