<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <div th:replace="~{fragments/initHeader :: initHeader}">initHeader</div>
    <title>Books</title>
</head>
<body>

<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container justify-content-center">
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <div class="col-md-12">
                <p style="text-align:center" th:text="|${numberOfBooks} books found|">number of books found</p>
            </div>
            <div class="col-md-12 allFilters">
                <form>
                    <h4>book filters</h4>
                    <label for="title" class="filterName filterwidth">title</label>
                    <input type="text" id="title" class="filterwidth" name="title" value="" th:value="${titleFiltered}">
                    <label for="author" class="filterwidth">author:</label>
                    <select name="author" id="author" class="filterwidth">
                        <option th:value="null" th:text="Any" th:selected="${authorFiltered eq null}"></option>
                        <option th:each="item : ${authors}" th:value="${item.name}" th:text="${item.name}"  th:selected="${item.name eq authorFiltered}">
                        </option>
                    </select>
                    <label for="yearOfRelease" class="filterwidth">year of release:</label>
                    <select name="yearOfRelease" id="yearOfRelease" class="filterwidth">
                        <option th:each="item : ${yearsOfRelease}" th:value="${item}" th:text="${item}" th:selected="${item eq yearOfReleaseFiltered}">
                        </option>
                    </select>
                    <div class="submitbutton">
                        <input type="submit" value="search" class="buttonLook filterButton">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div th:each="book : ${books}" class="card hoverable">
                    <a th:href="@{|/bookdetails/${book.id}|}" >
                        <div class="card-body overview-card">
                            <img class="card-img-top" th:src="@{|/img/${book.title}.jpg|}" alt="Card image cap">
                            <h5 class="card-title" th:text="${book.title}"></h5>
                            <div sec:authorize="isAuthenticated()">
                                <form th:action="@{|/enduser/wishlist/book/${book.id}|}" method="post">
                                    <button type="submit" class="btn btn-primary" th:if="${book.getEndUsersWishlist().contains(currentUser)}">
                                        <i class="bi bi-heart-fill"></i>
                                    </button>
                                    <button type="submit" class="btn btn-primary" th:unless="${book.getEndUsersWishlist().contains(currentUser)}">
                                        <i class="bi bi-heart"></i>
                                    </button>
                                </form>
                                <form th:action="@{|/enduser/ownedlist/book/${book.id}|}" method="post">
                                    <button type="submit" class="btn btn-primary" th:if="${book.getEndUsersOwned().contains(currentUser)}">
                                        <i class="bi bi-cart-fill"></i>
                                    </button>
                                    <button type="submit" class="btn btn-primary" th:unless="${book.getEndUsersOwned().contains(currentUser)}">
                                        <i class="bi bi-cart"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}">Footer</div>
</body>
</html>