<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

    <head>
        <div th:replace="~{fragments/initHeader :: initHeader}">initHeader</div>
        <title>Books</title>
    </head>

    <body>
        <div th:replace="~{fragments/header :: header}">Header</div>

        <div class="container text-center">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="row">
                        <div class="col mx-auto">
                            <a th:href="@{|/bookdetails/${prevId}|}" th:classappend="${prevId == null} ? 'hidden'"
                               class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">PREV</a>
                        </div>

                        <div class="col mx-auto">
                            <a th:href="@{|/bookdetails/${nextId}|}" th:classappend="${nextId == null} ? 'hidden'"
                               class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">NEXT</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="row">
                        <div class="col-md-12 m-3 detailsBlock text-center">
                            <h1 th:text="${book.getTitle()}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 m-3">
                            <div class="row">
                                <div class="col-md-3 detailsBlock">
                                    <img class="detailsPicture" th:src="@{${book.getImageUrl()}}" alt="Card image cap">
                                </div>

                                <div class="col-md-6">
                                    <div class="DetailsInfo">
                                        <p><strong>Year of release: </strong><span th:text="|${book.getYearOfRelease()}|"></span></p>
                                        <p><strong>Author(s): </strong>
                                            <span th:each="author, iterStat : ${book.getAuthors()}">
                                                <!-- Add a span tag for each artist with a comma (except for the last one) -->
                                                <span th:text="${author.name}"></span>
                                                <span th:text="|-- |" th:if="${!iterStat.last}"></span>
                                            </span>
                                        </p>
                                        <p><strong>Genres: </strong>
                                            <span th:each="genre, iterStat : ${book.getGenres()}">
                                                <span th:text="${genre.name}"></span>
                                                <span th:text="|-- |" th:if="${!iterStat.last}"></span>
                                            </span>
                                        </p>
                                        <p><strong>Description: </strong><span th:text="|${book.getDescription()}|"></span></p>
                                    </div>
                                </div>

                                <div class="col-md-3 detailsButtonBlock" sec:authorize="isAuthenticated()">
                                    <div class="detailsButtonSubBlock">
                                        <form th:action="@{|/enduser/wishlist/book/${book.getId()}|}" method="post">
                                            <button type="submit" class="detailsButton" th:if="${book.getEndUsersWishlist().contains(currentUser)}">
                                                <i class="bi bi-heart-fill"></i><span> Remove from wishlist</span>
                                            </button>
                                            <button type="submit" class="detailsButton" th:unless="${book.getEndUsersWishlist().contains(currentUser)}">
                                                <i class="bi bi-heart"></i><span> Add to wishlist</span>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="detailsButtonSubBlock">
                                        <form th:action="@{|/enduser/ownedlist/book/${book.getId()}|}" method="post">
                                            <button type="submit" class="detailsButton" th:if="${book.getEndUsersOwned().contains(currentUser)}">
                                                <i class="bi bi-cart-fill"></i><span> Remove from owned</span>
                                            </button>
                                            <button type="submit" class="detailsButton" th:unless="${book.getEndUsersOwned().contains(currentUser)}">
                                                <i class="bi bi-cart"></i><span> Add to owned</span>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="detailsButtonSubBlock" sec:authorize="hasAuthority('ADMIN')">
                                        <a th:href="@{|../admin/bookedit/${book.getId()}|}">
                                            <button type="submit" class="detailsButton">
                                                <i class="bi bi-wrench"></i> Edit book
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/footer :: footer}">Footer</div>
    </body>
</html>