<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head><title>Books</title></head>
<body>

<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container justify-content-center">
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <div class="col-md-12">
                <p style="text-align:center" th:text="|${numberOfBooks} books found|">number of books found</p>
            </div>
            <div class="col-md-12 allFilters">
                <a class="buttonLook filterButton" th:href="@{|/booklist|}">Hide Filter</a>
                <form>
                    <h4>book filters</h4>
                    <div class="oneFilter">
                        <label for="title" class="filterName">title</label>
                        <input type="text" id="title" name="title" value="" th:value="${titleFiltered}">
                    </div>
                    <div class="oneFilter">
                        <label for="author" class="filterName">author</label>
                        <input type="text" id="author" name="author" value="" th:value="${authorFiltered}">
                    </div>
                    <div class="oneFilter">
                        <label for="yearOfRelease" class="filterName">year of release</label>
                        <input type="number" id="yearOfRelease" name="yearOfRelease" value="" th:value="${yearOfReleaseFiltered}" step="1" placeholder="1937">
                    </div>
                    <div class="oneFilter">
                        <input type="submit" value="search" class="buttonLook filterButton">
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div th:each="book : ${books}" class="card hoverable">
                    <a th:href="@{|/bookdetails/${book.id}|}" >
                        <div class="card-body overview-card">
                            <img class="card-img-top" th:src="@{|/img/${book.title}.jpg|}" alt="Card image cap">
                            <h5 class="card-title" th:text="${book.title}"></h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}">Footer</div>
</body>
</html>