<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>Books</title>
    </head>
    <body>
    <div th:replace="~{fragments/header :: header}">Header</div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-1 justify-content-start">
                <a th:href="@{|/bookdetails/${prevId}|}" th:classappend="${prevId == null} ? 'hidden'"
                   class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true"><<<</a>
            </div>
            <div class="col-md-10 d-flex justify-content-center">
                <div class="content-center">
                    <div class="contentFound " th:if="${book}">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top detail" th:src="@{|/img/${book.title}.jpg|}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${book.title}">Card title</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                Author:
                                            </div>
                                            <div class="col-sm-6" th:text="${book.author}">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                Year of release:
                                            </div>
                                            <div class="col-sm-6" th:text="${book.yearOfRelease}">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="contentFound" th:unless="${book}">
                        <p>no book was chosen</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1 justify-content-end">
                <a th:href="@{|/bookdetails/${nextId}|}" th:classappend="${nextId == null} ? 'hidden'"
                   class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">>>></a>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}">Footer</div>
    </body>
</html>