<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <div th:replace="~{fragments/initHeader :: initHeader}">initHeader</div>
    <title>Home</title>
</head>
    <body>
    <div th:replace="~{fragments/header :: header}">Header</div>
        <div class="container justify-content-center">
            <div class="row justify-content-md-center">
                <div class="col-md-12">
                    <div class="row">
                        <h1>Movies</h1>
                    </div>
                    <div class="row">
                        <div class="scrollable-container">
                            <div class="scrollable-cards">
                                <div th:replace="~{fragments/cards :: movieCards}">MovieCards</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h1>Books</h1>
                    </div>
                    <div class="row">
                        <div class="scrollable-container">
                            <div class="scrollable-cards">
                                <div th:replace="~{fragments/cards :: bookCards}">BookCards</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}">Footer</div>
    </body>
</html>