<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="~{fragments/initHeader :: initHeader}">initHeader</div>
    <title>Movies</title>
</head>

<body>

<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container justify-content-center">
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <div class="col-md-12">
                <p style="text-align:center" th:text="|${numberOfMovies} movies found|">number of movies found</p>
            </div>
            <div class="col-md-12 allFilters">
                <form>
                    <h4>Movie filters</h4>
                    <label for="title" class="filterName filterwidth">title</label>
                    <input type="text" id="title" class="filterwidth" name="title" value="" th:value="${titleFiltered}">
                    <label for="yearOfRelease" class="filterwidth">year of release:</label>
                    <select name="yearOfRelease" id="yearOfRelease" class="filterwidth">
                        <option th:each="item : ${yearsOfRelease}" th:value="${item}" th:text="${item}" th:selected="${item eq yearOfReleaseFiltered}">
                        </option>
                    </select>
                    <label for="producer" class="filterwidth">producer:</label>
                    <select name="producer" id="producer" class="filterwidth">
                        <option  th:value="null" th:text="Any" th:selected="${producerFiltered eq null}">
                        </option>
                        <option th:each="item : ${producers}" th:value="${item.name}" th:text="${item.name}" th:selected="${item.name eq producerFiltered}">
                        </option>
                    </select>
                    <label for="productionCompany" class="filterwidth">production company:</label>
                    <select name="productionCompany" id="productionCompany" class="filterwidth">
                        <option  th:value="null" th:text="Any" th:selected="${productionCompanyFiltered eq null}"></option>
                        <option th:each="item : ${productionCompanies}" th:value="${item.name}" th:text="${item.name}"  th:selected="${item.name eq productionCompanyFiltered}">
                        </option>
                    </select>
                    <div class="submitbutton">
                        <input type="submit" value="search" class="filterwidth">
                    </div>


                </form>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div th:replace="~{fragments/cards :: movieCards}">MovieCards</div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}">Footer</div>
</body>
</html>